.newsletter {
  width: 380px;
  margin: auto;
}

.newsletter-info {
  margin: 0 16px;
  text-align: center;
}

.form {
  width: 348px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.btn,
input {
  font-family: 'ACaslonPro-Regular';
  font-weight: lighter;
}
.btn {
  width: 96px;
  background: #000;
  height: 38px;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  padding: 11px;
  border: none;
  margin: 0;
}
input {
  height: 38px;
  margin: 0;
  width: 200px;
  font-size: 14px;
  padding-left: 20px;
  margin-right: -10px;
}
.newsletter-info p {
  margin: 18px;
}

.newsletter-footer {
  margin-top: 30px;
  padding-bottom: 50px;
  margin-right: 0;
  text-align: center;
  margin-left: 10px;
}
.newsletter-info p {
  margin: 0;
  margin-bottom: 2px;
}

.newsletter-footer a {
  border-bottom: 1px solid #000;
  padding-bottom: 1px;
}
.newsletter-footer span a {
  border-bottom: none;
}

#userEmail {
  border: 1px solid black;
  background: transparent;
}
/* get rid of browser blue outline */
#userEmail:focus-visible {
  outline-width: 0;
}
.validate {
  font-weight: bold;
  color: grey;
  position: absolute;
  margin: auto;
  left: 40%;
  line-height: 2;
}
.form-control:focus,
.form-control:active {
  background: transparent;
}

.newsletter-footer,
.newsletter-info {
  animation: 0.5s ease-in delayLoad;
}
@keyframes delayLoad {
  0% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @media (min-width: 320px) and(max-width: 480px) { */
/* a {
    line-height: 2;
  } */
/* .newsletter {
    width: 320px;
    margin: auto;
  } */
/* input {
    width: 200px;
  }
  button.btn#btn {
    width: 60px;
  } */
/* pre .form input#userEmail.userEmail {
    width: 100px;
  } */
/* form.form {
    padding-right: 60px;
  } */
/* .newsletter-footer { */
/* width: 250px;
    line-height: 1.5; */
/* padding-bottom: 200px; */
