.carousel-container {
  height: 580px;
  max-width: 1440px;
  width: 1440px;
  margin: auto;
  margin-top: 122px;
  /* position: relative; */
}
.overlay {
  background: rgba(0, 0, 0, 0.45);
  position: relative;
  height: 100%;
  max-width: 1440px;
  width: 1440px;
}
.hero-image {
  height: 100%;
}
div.hero-image img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  max-width: 1440px;
  height: 580px;
}
.copy {
  position: absolute;
  color: #fff;
  top: 330px;
}
