.carousel-wrapper {
  height: 580px;
  max-width: 1440px;
  width: 1440px;
  margin: auto;
  margin-top: 122px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  height: 100%;
  max-width: 1440px;
  width: 1440px;
}

.carousel ul.control-dots {
  position: relative;
  left: 47%;
  right: 47%;
  top: 5px;
}
.carousel ul.control-dots li.dot {
  background: #e1e1e1;
  box-shadow: none;
  width: 10px;
  height: 10px;
}

/* Carousel 4:3 ratio */
@media (max-width: 767px) {
  .carousel > .slider-wrapper,
  .carousel-wrapper {
    width: 100vw;
    height: 75vw;
  }

  .carousel .slide img.resize {
    height: 75vw;
    width: auto;
  }
}

@media (max-width: 480px) {
  .carousel-wrapper {
    margin-top: 50px;
  }

  .carousel ul.control-dots {
    left: 40%;
  }
}
