html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p.hero-p {
  width: 450px;
}
.hero-copy {
  position: absolute;
  color: #fff;
  top: 340px;
}
.masonry-container {
  width: 81%;
  max-width: 1166px;
  margin: auto;
  margin-top: 100px;
}

.wrapper {
  margin-top: 805px;
  overflow-x: hidden;
}

/* Masonry grid */
/* // .masonry {
//   transition: all 0.5s ease-in-out;
//   column-gap: 55px;
//   column-fill: initial;
// } */

/* Masonry item */

img.card-img {
  max-width: 100%;
  vertical-align: middle;
}

.card h6 {
  margin: 30px 0;
  color: #9f9f9f;
  margin: 40px 0 25px 0;
}
.card p {
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.card p span {
  border-bottom: 1px solid #767676;
  padding-bottom: 3px;
  text-transform: uppercase;
}
h2 a:hover {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 3px;
}

@media (max-width: 767px) {
  .wrapper {
    margin-top: 0;
    padding-top: 110%;
  }
}

@media (min-width: 530px) and (max-width: 635px) {
  .hero-copy {
    top: 210px;
  }
}
@media (min-width: 481px) and (max-width: 529px) {
  .hero-copy {
    top: 169px;
  }
}
@media (min-width: 450px) and (max-width: 480px) {
  .hero-copy {
    top: 210px;
  }
}
@media (min-width: 390px) and (max-width: 449px) {
  .hero-copy {
    top: 160px;
  }
}
@media (min-width: 320px) and (max-width: 389px) {
  .hero-copy {
    top: 70px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    padding-top: 95%;
  }

  img.card-img {
    width: 600px;
  }
  h1 {
    font-size: 35px;
    width: 95%;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  .card h6 {
    margin: 30px 0 18px 0;
  }

  p.hero-p {
    width: 95%;
    margin: 0;
    line-height: 1.2;
  }
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -7%; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 7%; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column .card {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 50px;
  border-bottom: 1px solid #dedbdb;
}
/* // @media only screen and (min-width: 481px) and (max-width: 1024px) {
//   .my-masonry-grid {
//     // column-count: 2;
//     // column-gap: 12%;
//     margin-left: -13%;
//   }
//   .my-masonry-grid div.my-masonry-grid_column {
//     padding-left: -12%; /* gutter size */
/* //     // background-clip: padding-box;
//   }
// }
// @media only screen and(max-width: 1024px) {
//   .my-masonry-grid {
//     width: 100%;
//     margin: 0;
//     padding: 0;
//   }
//   .my-masonry-grid_column {
//     padding: 0;
//   }
// } */
/* */
/* */
/* Optional, different gutter size on mobile */
/* @media (max-width: 1024px) {
  .my-masonry-grid {
    // margin-left: -15%;
  }
  .my-masonry-grid_column {
    // padding-left: -15%;
  }
/* } */
/* @media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -30px; /* gutter size offset */
/* }
  .my-masonry-grid_column {
    padding-left: 30px; /* gutter size offset */
/* } */
/* // .my-masonry-grid_column > div {
  //   margin-bottom: 30px; space between items */
/* // } */
/* /* }   */
