html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p.pHero {
  width: 450px;
}
.copy {
  position: absolute;
  color: #fff;
  top: 330px;
}
.masonry-container {
  width: 81%;
  max-width: 1166px;
  margin: auto;
  margin-top: 100px;
}
img.card-img {
  max-width: 100%;
  vertical-align: middle;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1166px;
  margin-top: 805px;
  overflow-x: hidden;
}

.masonry.bordered .card {
  padding-bottom: 35px;
  margin-bottom: 50px;
  border-bottom: 1px solid #dbdbdb;
}
/* Defaults */

/* Masonry grid */
.masonry {
  transition: all 0.5s ease-in-out;
  column-gap: 30px;
  column-fill: initial;
}

/* Masonry item */
.masonry .card {
  margin-bottom: 30px;
  display: inline-block; /* Fix the misalignment of items */
  vertical-align: top; /* Keep the item on the very top */
}

/* Bordered masonry */
.masonry.bordered {
  column-gap: 55px;
}

.card h6 {
  margin: 30px 0;
  color: #9f9f9f;
  margin: 40px 0 25px 0;
}
.card p {
  font-size: 14px;
  margin-top: 25px;
}
.card p span {
  border-bottom: 1px solid #767676;
  padding-bottom: 3px;
  text-transform: uppercase;
}
h2 a:hover {
  text-decoration: underline;
  text-underline-offset: 0.1em;
  text-decoration-thickness: 3px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .masonry-container {
    margin-top: -110px;
  }
  p.pHero {
    width: 90%;
  }
  h1 {
    font-size: 50px;
  }
  .masonry {
    column-count: 1;
  }
  img.card-img {
    width: 600px;
  }
  h2 {
    font-size: 35px;
  }
}

/* Masonry on mobile */
/* @media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
  img.card-img {
    width: 600px;
  }
} */

/* Masonry on tablets */
@media only screen and (min-width: 481px) and (max-width: 1023px) {
  .masonry {
    column-count: 2;
  }
  .masonry.bordered {
    column-gap: 12%;
  }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
  .desc {
    font-size: 1.25em;
  }

  .intro {
    letter-spacing: 1px;
  }

  .masonry {
    column-count: 3;
  }
}
