.carousel-wrapper {
  height: 580px;
  max-width: 1440px;
  width: 1440px;
  margin: auto;
  margin-top: 122px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
a {
  display: block;
}
.overlay {
  background: rgba(0, 0, 0, 0.45);
  position: absolute;
  top: 0;
  height: 100%;
  max-width: 1440px;
  width: 1440px;
}
